
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: inherit;
}


ul, ol {
  list-style: none;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f9f9f9;
  color: #333;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;     
  height: 100vh;           
}

.flex{
    display: flex;
    justify-content: space-around;
}

.arrayForUsers{

  width: 300px;
  height: 700px;
  display: flex;
  
  padding: 15px;
  border: 3px solid black;
  border-radius: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  flex-direction: column;
}

/* Твой блок */
.for-form {
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: center; 
  align-items: center;  
  border: 3px solid black;
  border-radius: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  
  
}


.name {
  width: 250px;             /* ширина поля */
  padding: 12px 15px;       /* внутренние отступы */
  margin: 10px 0;           /* внешние отступы */
  border: 2px solid #ccc;   /* граница */
  border-radius: 10px;      /* скругление углов */
  font-size: 16px;
  transition: 0.3s;         /* плавный переход для эффектов */
  outline: none;            /* убираем стандартный outline */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

.password{
  width: 250px;             /* ширина поля */
  padding: 12px 15px;       /* внутренние отступы */
  margin: 10px 0;           /* внешние отступы */
  border: 2px solid #ccc;   /* граница */
  border-radius: 10px;      /* скругление углов */
  font-size: 16px;
  transition: 0.3s;         /* плавный переход для эффектов */
  outline: none;            /* убираем стандартный outline */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



.button {

  padding: 12px 25px;             
  font-size: 16px;
  color: #fff;                    
  background-color: gray;     
  border: none;                   
  border-radius: 12px;           
  cursor: pointer;                 
  transition: 0.3s;                
  box-shadow: 0 4px 5px rgba(0,0,0,0.3);

}
.button2 {

  padding: 12px 25px;             
  font-size: 20px;
  color: #fff;                    
  background-color: gray;     
  border: none;                   
  border-radius: 16px;           
  cursor: pointer;                 
  transition: 0.3s;                
  box-shadow: 0 4px 5px rgba(0,0,0,0.3);

}

.for-buttons {

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.error-msg {
    display: flex;
  background-color: #ff4d4f; 
  color: #fff;               
  padding: 10px 15px;
  border-radius: 8px;
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
  height: 65px;
  align-items: center;
}

.success-msg {
  background-color: #4CAF50; 
  color: #fff;               
  padding: 12px 18px;
  border-radius: 10px;
  margin: 15px 0;
  font-size: 15px;
  font-weight: bold;
  width: 265px ;
  height: 70px;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.5s ease-in-out;
  margin-bottom: 20px;
}

